@import "https://unpkg.com/ress/dist/ress.min.css";
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    line-height: 1;
    color: #fff;
    font-family: "Noto serif JP",serif;
    font-size: 1.6em;
}

/* header */
header{
    background: #b38d7d;
    padding: 1rem 0;
}
header h1{
    text-align: left;
}
header .logo{
    width: 25rem;
}

/* section */
section{
    padding: 10rem 0;
    text-align: center;
    background: #212121;
}
section h2 , section p{
    text-shadow: 0.1rem 0.1rem 0.4rem #212121;
}
section h2{
    font-size: 2em;
    margin-bottom: 1rem;
}
section h2 .en{
    display: block;
    font-size: 0.6em;
    font-style: italic;
    margin-bottom: 1em;
}
section p{
    line-height: 3;
}

/* button */
.btn_detail{
    color: #fff;
    text-align: center;
    display: block;
    width: 14em;
    margin: 6rem auto 0;
    padding: 0.1em 0;
    border:  0.1rem solid white;
    text-decoration: none;
    letter-spacing: 0.2em;
    transition: 0.3s all;
}
.btn_detail:hover{
    background: white;
    color: #b38d7d;
}

/* first-view */
#first-view{
    height: 80vh;
    background: url(../img/tea-creative-soo-chung-p0pgrQvHWZM-unsplash.jpg) center/cover no-repeat;
    position: relative;
}
#first-view h2{
    position: absolute;
    top: 3em;
    left: 10%;
    font-family: "Shippori Mincho",serif;
    color: #212121;
    font-size: 4rem;
    text-shadow: none;
}

/* about */
#about{
    background-image: url(../img/liana-mikah-L5cEmk3ucYY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #444;
}
#about .btn_detail{
    margin-top: 10rem;
}

/* products */
#products{
    width: 50%;
    position: relative;
    background: #b38d7d;
}
#products::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: url(../img/alice-pasqual-xdD-x2Y2SPI-unsplash.jpg) center/cover no-repeat;
}

/* shop event */
#shop-event{
    background: url(../img/lucas-mendes-HFqj7glBKL4-unsplash.jpg) center/cover no-repeat;
}
#shop-event .btn_detail{
    margin-top: 30rem;
}

/* footer */
footer{
    background: #b38d7d;
    padding: 2rem 0;
    text-align: center;
}


/* productsページであそぼう */
#column img{
	width: 300px;
    height: 300px;
}
#column ul {
	width: calc(100 + 20px);
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}

#column li {
	padding: 0 10px 20px;
}

#column li a,
#column li a:visited {
	text-decoration: none;
	color: #111;
}

#column li p {
	font-size: 90%;
	margin-bottom: 3px;
}

#column li span {
	font-size: 80%;
	display: block;
}
.column03 li {
	width: calc(33.3333% - 20px);
}



@media screen and (max-width: 500px){
    header .logo{
        width: 20rem;
    }
    section h2{
        font-size: 2em;
        margin-bottom: 3rem;
    }
    section h2 .en{
        margin-bottom: 0.5em;
    }
    section p{
        font-size: 18px;
        line-height: 3.4;
    }
/* first-view */
#first-view{
    height: 70vh;
}
#first-view h2{
    left:2%;
    font-size: 2.1rem;
}
/* products */
#products{
    width: 85%;
}
#products::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: url(../img/joanna-kosinska-B43a-FPxYqU-unsplash.jpg) center/cover no-repeat;
}

/* shop event */
#shop-event{
    background: url(../img/lucas-mendes-HFqj7glBKL4-unsplash.jpg) center/cover no-repeat;
}
#shop-event .btn_detail{
    margin-top: 30rem;
}
 }