@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

*{
    box-sizing: border-box;
}

body{
    color: #333;
}

.inner{
    width: 1000px;
    margin: auto;
}

header{
    background: url(../img/ramen_iriguti.jpg) center/cover no-repeat;
    color: rgb(0, 0, 0);
    height: 55vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Yuji Boku', serif;
    font-size: 30px;
    margin-bottom: 200px;
}

section{
    width: 100%;
    padding: 80px 0;
}
section h2{
    margin-bottom: 1em;
}
section p{
    line-height: 1.8;
}

section#first {
    width: 1000px;
    margin: auto;
    display: flex;
    /* background: url("https://placehold.jp/3d4070/ffffff/400x400.png") left center no-repeat; */
}

.flex {
    display: flex; /*横並び*/
  }
  .flex .right {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .flex .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
  }
  .flex .text {
    margin: 10px 0 0;
    padding: 0;
  }

section#first .inner{
    width: 500px;
    margin-left: 0;
}
section#first p{
    margin: 1em 0;
}

section#second .inner,
section#third .inner{
    text-align: center;
}
section#second p{
    margin-bottom: 5rem;
}
section#third p{
    margin-bottom: 1em;
}

section#second{
    background: #ebe9e0;
    padding-bottom: 0;
}


footer{
    background: #eee;
    text-align: center;
    padding: 20px 0;
}


/* 画面サイズ480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
	
    body{
        color: #333;
    }
    img{
        margin: 100%;
    }
    .inner{
        width: 480px;
        margin: auto;
    }
    
    header{
        background: url(../img/ramen_iriguti.jpg) center/cover no-repeat;
        color: rgb(0, 0, 0);
        height: 55vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Yuji Boku', serif;
        font-size: 15px;
        margin-bottom: 150px;
    }
    img{
        width: 100%;
    }
    
    section{
        width: 100%;
        padding: 80px 0;
    }
    section h2{
        margin-bottom: 1em;
    }
    section p{
        line-height: 1.8;
    }
    
    section#first {
        width: 480px;
        margin: auto;
        display: block;
        /* background: url("https://placehold.jp/3d4070/ffffff/400x400.png") left center no-repeat; */
    }
    
    .flex {
        display: block; /*横並び*/
      }
      .flex .right {
        margin: 0 0 0 20px;
        padding: 0;
        text-align: center;
      }

    
    section#first p{
        margin: 1em 0;
    }

    section#second{
        background: #f4f4f4;
        padding-bottom: 0;
    }
    
    
    footer{
        background: #eee;
        text-align: center;
        padding: 20px 0;
    }
    
}