body{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
  }
  /* header */
  nav{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    height:150px;
    width:87.5%;
    margin:0 auto;
  }
  a{
    height:40px;
    margin-left:40px;
    color:#000;
    text-decoration:none;
    letter-spacing:.1em;
  }
  .header a:hover{
    color: rgb(237, 151, 166);
  }
  .logo{
    width: 300px;
    margin-right:auto;
    margin-left:0;
    margin-bottom: 180px;
  }
  .logo img{
    width:100%;
    height:auto;
  }

  /*page*/
  h1{
    font-size: 60px;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 100px;
  }
  .page{
    margin-bottom: 100px;
  }
  .page img{
    width: 1000px;
    border: solid 5px #000;
  }

  /*pagination*/

  .pagination {
    margin-top: 200px;
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 1px 15px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: rgb(237, 151, 166);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  /*contact*/
  #contact{
    text-align: center;
  }
  
  #contact h2{
    font-size: 50px;
    margin-top: 20vh;
    margin-bottom: 5vh;
  }
  #contact p{
    font-size: 20px;
    line-height: 2.5;
    margin-bottom: 5vh;
  }
  
  .c-form {
    max-width: 600px;
    margin: 0 auto;
  }
  .c-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .c-form__label,
  .c-form__input {
    padding: 10px;
  }
  .c-form__label {
    width: 90%;
  }
  .c-form__input {
    width: 90%;
    font-size: 16px;
    border: solid 1px #333;
    border-radius: 4px;
  }
  .c-form__input:focus-visible {
    outline: green auto 1px;
  }
  .c-form__required {
    color: #fff;
    background-color: green;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 0 0 0 18px;
  }
  textarea.c-form__input {
    height: 160px;
  }
  .c-form__submit {
    text-align: center;
  }
  .c-form__submit button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(237, 151, 166);
    border: solid 1px white;
    border-radius: 4px;
    padding: 5px 32px;
    transition: 0.4s;
    cursor: pointer;
  }
  .c-form__submit button:hover {
    color: green;
    background-color: transparent;
  }
  


  /*footer*/

  .footera {
    color: #999;
    text-decoration: none;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
.footer {
  margin-top: 100px;
    padding: 2rem;
    font-size: 15px;
    color: #3f3f3f;
    background: rgb(237, 151, 166);
    border-top: 1px solid #e5e7eb;
  }
  
  .footer a:hover {
    color: #ffffff;
  }
  .footer li{
    list-style: none;
  }



  /*thanks*/
  .topmove{
    color: rgb(237, 151, 166);
    font-size: 30px;
  }

  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
  
    .md-flex {
      display: flex;
    }
  
    .md-flex li + li {
      margin-left: 16px;
    }
  }